.live-program__container {
  width: 100%;
  margin-top: 8rem;
  overflow: hidden;
}
.live-program__container h2 {
  text-align: center;
  font-size: 2rem;
  color: #231955;
  margin-bottom: 4rem;
}
.courses__btn {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}
.courses__text h2 {
  text-align: center;
}
.courses__text p {
  text-align: center;
  font-size: 1rem;
}
.input__field {
  display: none;
}
@media (max-width: 700px) {
  .courses__btn {
    display: none;
  }
  .input__field {
    text-align: center;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
  }
  #courses {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ebeaea;
    width: 18rem;
    outline: none;
  }
  .option__class {
    font-size: 1rem;
  }
  .live-program__container {
    margin-top: 4rem;
  }
  .live-program__container h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  .courses__btn button {
    font-size: 0.5rem;
    width: 5rem;
  }
}
