.partner__container {
  width: 100%;
  margin-top: 8rem;
  background-color: #dad9dd;
  height: 20rem;
}
.logo__container {
  width: 80%;
  margin: auto;
}
.partner__heading {
  text-align: center;
}
.partner__heading h2 {
  font-size: 2rem;
  color: #231955;
  padding: 2rem 0;
}
.company__logo {
  width: 10rem;
}
.company__logo img {
  margin-top: 2rem;
  width: 10rem;
  margin: 2rem 1rem;
}
