.footer__container {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(
    to top left,
    rgba(0, 101, 164),
    rgba(0, 36, 93)
  );
  clip-path: polygon(50% 23%, 100% 0, 100% 100%, 0 100%, 0 0);
  margin-top: 8rem;

  position: relative;
}

.footer__container-sub {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 1%);
  color: #cecaca;
}

.info {
  margin: 0 4rem;
}
.footer-info__1 {
  flex: 3;
}
.address {
  display: flex;
  flex-direction: column;
}

.address h4 {
  color: #ffff;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #fa8072;
}
.icons {
  position: absolute;
  left: 25%;
}
.address-text p {
  font-size: 1rem;
  margin-top: 1rem;
}
.address-text p:hover {
  cursor: pointer;
  color: #ffffff;
}

.social__icons {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
}
.footer-info__1 {
  margin-top: -3.6rem;
}
.footer-info__2 {
  flex: 2;
}

.footer-info__2 h4 {
  font-size: 1.2rem;
  color: #fff;
  border-bottom: 3px solid #fa8072;
  padding-bottom: 1rem;
}
.footer-nav__items {
  display: flex;
  justify-content: space-between;
}
.footer-nav__items ul li,
.footer-info__3 ul li {
  list-style: none;
  font-size: 1rem;
  padding: 0.5rem;
}
.footer-nav__items ul li:hover,
.footer-info__3 ul li:hover {
  color: #ffffff;
  cursor: pointer;
}
.footer-info__3 h4 {
  color: #fff;
  border-bottom: 3px solid #fa8072;
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.footer__icon {
  width: 2.5rem;
  height: 1rem;
}
.facebook {
  color: #176ef1;
}
.linked-in {
  color: #0077b5;
}
.youtube {
  color: #f12020;
}
.twitter {
  color: #00acee;
}
@media (max-width: 1366px) {
  .footer__container-sub {
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 1%);
  }
}
@media (max-width: 700px) {
  .footer__container {
    height: 100vh;
    margin-top: 2rem;
    position: relative;
  }

  .footer__container-sub {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .info {
    margin: 0 0;
  }
  .footer-info__1 {
    flex: 0;
  }
  .icons {
    margin-left: 5rem;
  }
  .social__icons {
    margin: 0 0.5rem;
  }
  .address h4 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }

  .address-text p {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }

  .footer-info__1 {
    margin-top: 0rem;
  }
  .footer-info__2 {
    margin-left: 10%;
  }
  .footer-info__2 h4 {
    font-size: 1rem;
  }
  .footer-info__3 {
    margin-left: -13rem;
  }
  .footer-info__3 h4 {
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  .footer-info__3 ul li {
    font-size: 0.8rem;
    padding: 0.5rem 0;
  }
  .footer-nav__items ul {
    margin: 0 4rem 0 0;
  }
  .footer-nav__items ul li {
    font-size: 0.8rem;
  }
}
